python main.py
openai==1.61.1
pinecone-client==5.0.1
matplotlib==3.10.0
numpy==1.26.4
python-dotenv==1.0.1
requests==2.32.3
Pillow==10.4.0
tensorflow
torch==2.6.0
torchvision==0.21.0
pydub==0.25.1
python-docx==1.1.2
python-pptx==1.0.2
PyPDF2==3.0.1
opencv-python==4.8.1.78
selenium==4.28.1
trafilatura==2.0.0
google-cloud-vision==3.9.0
fastapi
aiohttp
transformers
scipy
timm
fairscale
openpyxl
chardet
webdriver_manager
langchain_openai
uvicorn
git+https://github.com/xinyu1205/recognize-anything.git